.profile {
    margin: 0 auto;
    max-width: 410px;
}

.profile__title {
    margin: 71px 0 123px 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__label {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

.profile__label:focus-within {
    outline: 1px solid rgb(43, 224, 128);
    border-radius: 5px;
}

.profile__input {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: right;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.profile__line {
    margin: 16px 0 17px 0;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.profile__input-error {
    min-height: 12px;
    display: block;
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgb(255, 64, 98);
}

.profile__input-error:focus {
    border-bottom-color: rgb(255, 64, 98);
    outline: 1px solid rgb(255, 64, 98);
}

.profile__save {
    height: 20px;
    margin: 30px auto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 64, 98);
}

.profile__button {
    border: none;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    background: transparent;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.8;
}

.profile__button_edit {
    margin: 170px 0 16px 0;
    padding: 0;
    font-weight: 400;
}

.profile__button_signout {
    margin-bottom: 70px;
    padding: 0;
    font-weight: 500;
    color: rgb(255, 64, 98);
}

.profile__submit-button {
    height: 45px;
    margin-top: 220px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

.profile__submit-button:hover {
    transition: opacity 0.3s linear;
    opacity: 0.7;
}

.profile__submit-button_inactive {
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #424141;
    opacity: 0.2;
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin: 233px 0 96px 0;
    }

    .profile__button_edit {
        margin-top: 210px;
    }

    .profile__button_signout {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        max-width: 260px;
    }

    .profile__title {
        margin: 69px 0 80px 0;
    }

    .profile__button {
        font-size: 12px;
    }

    .profile__button_edit {
        margin-top: 379px;
    }

    .profile__button_signout {
        margin-bottom: 40px;
    }

    .profile__submit-button {
        font-size: 12px;
    }
}