.saved-movies {
    min-height: 66.7vh;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .saved-movies {
        margin-bottom: 165px;
    }
    .saved-movies {
        margin-bottom: 149px;
    }
}